body {
    background-color: #2B2828;
    text-align: center;
}

main {

}

.grow
{
    margin-top: 100px;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    transition: all 0.4s ease;
    margin: 100px;
}

.grow:hover
{
    transform: scale(1.5);
    margin-right: 40px;
    margin-left: 26px;
}

#spaceinvaders {
    background-image: url("spaceinvaders.png");
    background-size: cover;
}

#noe {
    background-image: url("Spill.png");
    background-size: cover;
}